<div class="ui secondary  menu">
  
  <%= link_to "Questions", root_path, class: "item" %>
  <%= link_to "Tags", root_path, class: "item" %>
  
  <div class="right menu">
   
    <% if user_logged_in?  %>
      <%= link_to "Upload Question", upload_question_user_index_path, class: "item" %>
          
      <%= link_to "Logout", logout_session_index_path, class: "ui item active" %>
      
    <% else %>

      <%= link_to "SignUp", new_user_path, class: "ui primary button" %>
      <%= link_to "Login", login_session_index_path, class: "ui item active" %>
    
    <% end %> 
  </div> 
</div>